[submodule "hubot-web"]
	path = hubot-web
	url = https://github.com/endofline/hubot-web.git
[submodule "hangupsbot/locale"]
	path = hangupsbot/locale
        url = https://github.com/hangoutsbot/hangoutsbot-locales.git
