git+https://github.com/tdryer/hangups.git
appdirs
asyncio
jsonrpclib-pelix
pushbullet.py
beautifulsoup4
goslate
wikipedia
wolframalpha
git+https://github.com/loisaidasam/pyslack.git
git+https://github.com/carpedm20/emoji
selenium
