# BOT DEPENDENCIES #
git+https://github.com/tdryer/hangups.git
appdirs
asyncio
aiohttp
jsonrpclib-pelix

# PLUGIN DEPENDENCIES #
beautifulsoup4
pushbullet.py # mentions
goslate # translations
wikipedia
wolframalpha
git+https://github.com/loisaidasam/pyslack.git # slack
git+https://github.com/carpedm20/emoji
selenium # screenshots
google-api-python-client # for spotify
spotipy
slackclient >=0.16 # slackrtm (includes websockets)
textblob
python_dateutil # gitlab sink
telepot >=10.5 # telesync needs aio support
ReParser==1.4.3 # matches hangups, used for markdown standardisation
cleverwrap # cleverbot
