# This is a .service file for systemd(8)
#
# If you are using systemd as a system daemon manager, you may use this file
# (with your own local modifications) as a reference.
#
# This file may be copied to /etc/systemd/system/ and modified with your own
# local changes, such as the user and group to run the daemon as, and where the daemon
# is located

[Unit]
Description=hangouts bot
After=multi-user.target
 
 
[Service]
Type=idle
WorkingDirectory=/home/hangoutsbot/hangoutsbot
ExecStart=/usr/bin/python3 /home/hangoutsbot/hangoutsbot/hangupsbot/hangupsbot.py
User=botuser
Group=users
 
 
Restart=always
SyslogIdentifier=hangupsbot-bot
 
 
[Install]
WantedBy=multi-user.target
